<div class="container">
	<div class="row">
		<div class="client_about">
			<div class="box_about">
				<h1 class="h1_about">About</h1>
				<p>ながのCakeは全国発送可能なケーキ屋さんです。<br>
			 	お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			 	様々なバリエーションをご用意しております。<br>
			 	全国発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
			 	ぜひご注文ください。
			 	</p>
				<div class="about_image">
				 	<%= image_tag('NCL-color.png', style: "width: 270px;") %>
				</div>
			</div>
		</div>
	</div>
</div>
