<div class="contain">
  <div class="row">
    <div class="col-xs-2">
      <%= render 'client/products/list', genres:@genres %>
    </div>

    <div class="col-xs-10">
      <h2>商品一覧　全<%= @products.total_count %>件</h2>
        <%= render 'client/products/index', products:@products %>
    </div>
  </div>
</div>