// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.api-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  text-align: left;
}

 .api-th {
  color: f333;
  padding: 10px;
  border-bottom: 2px solid #333333;
  border-top: 2px solid #333333;
  background-color:#F0F0F4;
}

.api-td {
  padding: 10px;
  color: f333;
  border-bottom: 1px solid gray;
}

.new-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}

.new-btn:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.aps-h2{
  margin-left: 10%;
  font-weight: bold;
}
.aps-th {
  width: 30%;
  font-size: 16px;
}

.aps-td {
font-size:15px;
}

.aps-h2{
  margin-bottom: 20px;
}

.aps-block {
  margin: 20px;
}

.aps-img {
  text-align: center;
}

.aps-btn {
  margin: 30px;
  text-align: right;
}

.ape-block {
  margin: 20px;
}

.ape-img {
  text-align: center;
}

.ape-h2{
  margin-left: 10%;
  margin-bottom: 18px;
  font-weight: bold;
}

.ape-th {
  width: 40%;
  font-size: 16px;
}

.ape-td {
  font-size:15px;
}

.default_img {
  border: 2px solid #333333;
}

.ape-attachment_field {
  margin-left: 30%;
}

.ape-btn {
  text-align: right;
}

.ape-block {
  margin-bottom: 100px;
}