// Place all the styles related to the client/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cg {
  margin: 10px 0;
  border-bottom: 1px solid #fff2df;
  font-size: 16px;
  line-height: 40px;
  color: black;
}

.cg:hover {
  color: black;
}
