// Place all the styles related to the public/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container {
  display: flex;
  flex-wrap: wrap;
}
.index-item {
  padding: 0 0 20px 20px ;
}
.index-box {
  width: 192px;
  height: 90px;
  background: #f7f7f7;
}
.index-name {
  font-size: 16px;
  font-color: #333;
  padding: 10px;
}
.index-price {
  font-color: #333;
  padding: 0  10px 10px 10px;
}
.link {
  text-decoration: none;
}
.soldout {
  size: 80%;
  width:150px;
  float:left;
  margin:0 10px 10px 0;
  position:relative;
  padding:5px;
  font-weight:bold;
  font-size:20px;
  color:#fff;
  background:#c00;
  position:absolute;
  -moz-box-shadow: 1px 1px 2px #333;
  -webkit-box-shadow: 1px 1px 2px #333;
  -moz-transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
}