<div class="container">
	<div class="row">
		<div class="text-center">
			<h2>本当に退会しますか？</h2>

			<p>退会すると、会員登録情報や<br>
			  これまでの購入履歴が閲覧できなくなります。<br>
			退会する場合は、「退会する」をクリックしてください。</p>

			<%= link_to '退会しない', edit_client_path, class: "btn btn-primary btn-lg" %>
			<%= link_to '退会する', unsubscribe_client_path(@client), method: :patch, data: {confirm: "退会されますと、商品の購入ができなくなります。
			本当に退会されますか？"}, class: "btn btn-danger btn-lg" %>
		</div>
	</div>
</div>