/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
    margin-top: 15px;
}

header p {
    margin-top: 33px;
    margin-right: 10px;
    float: right;
}

.search-button {
    margin-top: 33px;
}

/* 中央揃えのコード */
.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

.navbar-inverse {
	height: 50px;
	margin-top: 12px;
	margin-bottom: 5px;
}

.nav-list-item {
	margin-right: 40px;
    text-align: center;
}

.navbar-text {
	margin-right: 50px;
	margin-top: 17px;
}

.box4{
    margin: 2em 0;
    color: #2c2c2f;
    background: #f0f0f4;
    border-top: solid 4px #be002f;
    border-bottom: solid 4px #be002f;
}

footer p {
    text-align: center;
	margin-top: 10px;
}
