// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-mt-2{
	margin-top: 15px;
}
.client_a{
	width: 200px;
}
.client_b{
	width: 300px;
}